html,
body,
#root {
  width: 100%;
  height: 100%;
  height: 100dvh;
}

body {
  --black: #333;
  --white: #fff;
  --red: #de552a;
  --light-red: #ef9f95;
  --gray-f3: #f3f3f3;
  --gray-e: #eee;
  --gray-d: #ddd;
  --gray-c: #ccc;
  --gray-9: #999;
  --gradient-red: 90deg, #de552a 0%, #efaa95 100%; /* linear-gradient(var(--gradient-red)) */
  /* touch-action: pan-y; */
}

body::-webkit-scrollbar,
div::-webkit-scrollbar {
  display: none;
}

b {
  font-weight: 700 !important;
}

.font-logo-small {
  color: var(--red);
  font-size: 24px;
  font-weight: 900;
}
.font-logo-large {
  color: var(--red);
  font-size: 48px;
  font-weight: 900;
}
.font-subtitle-small {
  font-size: 20px;
  font-weight: 700;
}
.font-subtitle-large {
  font-size: 24px;
  font-weight: 700;
}
.font-text-small {
  font-size: 12px;
  font-weight: 400;
}
.font-text-large {
  font-size: 16px;
  font-weight: 400;
}
.font-title-large {
  font-size: 32px;
  font-weight: 700;
}
